@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Courgette&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Kalam:wght@300;400;700&family=Permanent+Marker&display=swap');

:root {
    --colr-main: hsl(55, 100%, 69%);
    --colr-secondary: hsl(181, 100%, 69%);
    --colr-white: hsl(0, 0%, 96%);
    --colr-black: hsl(0, 0%, 0%);
    --colr-grey: hsl(0, 0%, 50%);
    --colr-greyish: hsl(0, 0%, 91%);
}

html {
    box-sizing: border-box;
    scroll-behavior:smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--colr-black);
    line-height: 1.5;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* input[type='submit'] {
    padding: 16px 40px;
    background-color: var(--colr-main);
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: var(--colr-secondary);
} */

.fa-brands {
    display: flex;
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.fa-brands:hover {
    color: var(--colr-secondary);
}


/* Mobile Menu */
.mobile-container {
    display: none;
}




/* Header */

.header-container {
    position: fixed;
    padding: 8px;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
}


.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(90%, 1444px);
    margin-inline: auto;
}

.nav-wrapper .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8em;
    margin: 0.5rem 0;
}

.nav-wrapper .logo img {
    margin-left: 1rem;
    width: 1.5rem;
}

.nav-wrapper .logo h3 {
    color: var(--colr-secondary);
    font-size: 1.3rem;
}



.nav-wrapper .menu-list {
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    /* gap: 1rem; */
    width: 100%;
    white-space: nowrap;
}



.nav-wrapper .main-menu .menu-list li a {
    /* opacity: 1; */
    /* color: var(--colr-white); */
    color: #d3d3d3;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    width: 100%;
    margin-right: 1.5em;
    padding: 0 0 22px 0;
    /* border-radius: 3px; */
    /* transition: all 0.4s ease; */
}

.nav-wrapper .main-menu .menu-list li a:hover  {
    color: #fff;
    /* color: var(--colr-black); */
    /* border-bottom: 2px solid #fff; */
    /* background-color: #fff; */
}



/* Hero Section */

.main-menu .fa-bars {
    display: none;
}

.main-menu .fa-x {
    display: none;
}

.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/Bee.webp');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 700px;
    vertical-align: top;
    background-color: rgb(0, 0, 0);
}

.hero-container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero-container .hero-content {
    position: absolute;
    max-width: 1200px;
    margin-inline: auto;
    /* border: 3px solid red; */
}



.hero-container .hero-content .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--colr-white);
    text-align: center;
}

.hero-container .hero-content .hero-text span {
    color: var(--colr-main);
}

.hero-container .hero-content .hero-text h1 {
    /* font-family: 'Courgette', cursive; */
    font-family: 'Cherry Bomb One', cursive;
    font-size: 90px;
    font-weight: 2;
    line-height: 1;
}

.hero-container .hero-content .hero-text h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 1rem 0;
}

.hero-container .hero-content .hero-text  p {
    font-size: 35px;
    font-weight: 300;
    margin: 0;
}

.hero-container .hero-content .hero-text a {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 1rem 0 1.5em 0;
    padding: 9px 24px 8px 24px;
    border-radius: 3px;
    color: var(--colr-black);
    background-color: var(--colr-secondary);
    text-decoration: none;
    outline: none;
}

.hero-container .hero-content .hero-text a:hover {
    color: var(--colr-black);
    background-color: var(--colr-main);
}








/* Products */

.product-container {
    font-family: 'Josefin Sans', sans-serif;
    padding: 120px 20px;
    margin-inline: auto;
    background-color: #fff;
}

.product-container h2 {
    font-size: 64px;
    text-align: center;
    margin-bottom: 32px;
}

/* .product a {
    font-size: 1rem;
    font-size: 700;
} */

.box1 {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: min(100%, 1350px);
    margin-inline: auto;
}

/* .box1 h2 {
    font-size: 90px;
    margin-inline: auto;
} */

.product-box {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px lightgrey;
}

.product-box:nth-last-of-type(odd) {
    background-color: var(--colr-secondary);
}

.product-box:nth-last-of-type(even) {
    background-color: var(--colr-main);
}

.product-box img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    z-index: 99;
}

.product-box a {
    color: var(--colr-black);
}

.product-box .product-list {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
    padding: 8px; */
}

.product-box .product-list h2 {
    font-size: 1.8em;
    font-weight: 900;
    text-align: center;
    margin: .5em 0;
    /* width: 100%; */
}

.product-box .product-list h3 {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0;
}

.product-box .product-list p {
    font-size: 1.1em;
    font-weight: 400;
}


.product-list .product {
    text-align: center;
    padding: 5px;
    margin: 10px 0;
    cursor: pointer;
    transition: all .3s ease;
}

.product-list .product:hover {
    border-radius: 4px;
    /* color: var(--colr-white); */
    background-color: rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 10px 10px rgb(24, 24, 24); */
}


/* About Section */

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 20px;
    text-align: center;
    background-color: var(--colr-main);
}

.about-container h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.about-container h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.about-container .about-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: min(100%, 1350px);
}

.about-container .about-content .about-image {
    width: 60%;
}


.about-container .about-content .about-image img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    vertical-align: top;
}

.about-container .about-content .about-text {
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
}


.about-container .about-content .about-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    /* margin: 24px 0; */
}

.about-container .about-content .about-text .icons {
    margin-top: 1rem;
}

.about-container .about-content .about-text .icons .fa-brands {
    color: var(--colr-black);
}



/* Contact Form */
.contact-container {
    padding: 190px 0;
    background-color: #fff;
}

.contact-container .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    border-radius: 10px;
    max-width: 900px;
}

.contact-container .contact-content .contact-box {
    text-align: left;
    width: 100%;
    padding: 0;
}

.contact-container .contact-content .contact-box .contact-text {
    margin: 5px 0;
}

.contact-container .contact-content .contact-box h2  {
    font-size: 60px;
    color: var(--colr-black);
}

.contact-container .contact-content .contact-box p {
    font-size: 20px;
    color: var(--colr-black);
    /* margin: 10px 0; */
}


.contact-container .contact-content .contact-box .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: 10px 0;
    width: 100%;
    padding: 10px 0;
}


.contact input, .contact textarea {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 4px;
    resize: none;
    background-color: #ededed;
    border: 1.5px solid var(--colr-grey);
}
.contact input[type="submit"] {
    padding: 14px;
    margin-top: 1em;
    background: var(--colr-secondary);
    border: none;
    width: 50%;
    cursor: pointer;
}
.contact input[type="submit"]:hover {
    background: var(--colr-main);
    border: none;
}






/* Pop-up */
.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
    color: var(--colr-black);
    background-color: var(--colr-secondary);
}

.popup-container .pop-content  {
    width: 100%;
    max-width: 1200px;
}

.popup-container .pop-content h2 {
    position: relative;
    font-size: 4rem;
    margin: 0;
    padding-bottom: 50px;
    text-align: center;
}

.popup-container .pop-content h2::before {
    position: absolute;
    content: "@SugarSwirl";
    font-size: 3rem;
    color: var(--colr-black);
    left: 50%;
    bottom: 0;
    border-radius: 10px;
}



.popup-slider {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin: 50px 0;

}

.pop-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.pop-box:hover {
    transform: scale(1.1);
}

.box-1 {
    background-image: url('https://i.ibb.co/jHvxrQF/food.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;    
}

.box-2 {
    background-image: url('https://i.ibb.co/tLf6QLJ/bites.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.box-3 {
    background-image: url('https://i.ibb.co/hZJygcZ/outdoors.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.pop-box::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
}

.pop-box:nth-last-of-type(odd) {
    background-color: var(--colr-main);
}

.pop-box:nth-last-of-type(even) {
    background-color: var(--colr-secondary);
}

.pop-box h3, .pop-box p {
    color: var(--colr-white);
    letter-spacing: 1px;
    z-index: 0;
}

.pop-box h3 {
    font-size: 2rem;
    font-weight: 800;
}

.pop-box p {
    font-size: 1.5rem;
    font-weight: 400;
}

.back-top {
    padding: 1rem;
    background-color: var(--colr-secondary);
    text-align: center;
}

.back-top a {
    /* color: hsl(181, 46%, 41%); */
    color: #000;
}





/* Footer */
.footer-container {
    background-color: var(--colr-black);
    padding: 120px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--colr-white);
    margin-inline: auto;
    padding: 0;
    max-width: 1200px;
}

.footer-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-boxes ul {
    margin: 0;
    padding: 0;
}

.box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.box3 p {
    color: var(--colr-main);
}

.footer-boxes input {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.footer-boxes input[type="submit"] {
    width: 50%;
    background: var(--colr-main);
    cursor: pointer;
}

.footer-boxes input[type="submit"]:hover {
    background: var(--colr-secondary);

}

.footer-boxes a {
    color: var(--colr-white);
}

.footer-boxes li {
    margin: 10px 0;
}

.footer-icons {
    font-size: 30px;
}

.footer-boxes .fa-brands {
    color: var(--colr-secondary);
    padding-right: 10px;
}

.footer-boxes .fa-brands:hover {
    color: var(--colr-main);
}

.end {
    text-align: center;
    color: var(--colr-grey);
    background-color: var(--colr-black);
    padding: 16px;
}




/* @media screen and (max-width: 1600px) {

    .nav-wrapper {max-width: 1200px;}

    .nav-wrapper .menu-list a {font-size: 18px;}

    .hero-text h1 {font-size: 65px;max-width: 1100px;font-weight: 600;}

    .box1 {gap: 2rem;max-width: 1400px;}
    
} */





@media screen and (max-width: 1024px) {   
    
/* Mobile Menu */
.mobile-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    right: 0;
    top: 100%;
    width: 50%;
    height: 100vh;
    line-height: 40px;
    padding: 0 0 0 16px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    transform: translateX(110%);
    transition: transform .6s ease-in-out;
}

.mobile-container.show {
    /* position: absolute;
    display: flex; */
    transform: translate3d(0, 0, 0);
}

.mobile-container .mobile-menu {
    width: 100%;
    margin-inline: auto;

}

.mobile-container .mobile-menu .menu  {
    padding: 0;
    padding: 1rem 0;
}

.mobile-container .mobile-menu .menu i {
    text-align: left;
    margin: 0;
    font-size: 1em;
    color: var(--colr-white);
}


.mobile-container .mobile-menu .menu a {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--colr-white);
}

.mobile-container .mobile-menu .menu li {
    text-align: left;
    border-bottom: 1px solid var(--colr-secondary);
    /* padding-bottom: 1px; */
}


.main-menu .fa-bars {
    display: flex;
    color: var(--colr-white);
    font-size: 24px;
    cursor: pointer;
}

.main-menu .fa-x {
    display: none;
    color: var(--colr-white);
    font-size: 24px;
    cursor: pointer;
}


.mobile__hero-icons {
    color: var(--colr-white);
}


.nav-wrapper {
    padding: 0 10px;
    max-width: 810px;
}

.nav-wrapper .logo img {
    width: 30px;
    height: auto;
}

.nav-wrapper .menu-list {
    display: none;
}


.nav-wrapper .menu-list a {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 3px 10px;
    border-radius: 10px;
}


/* Hero Section */

.hero-container .hero-content {
    max-width: 750px;
}

.hero-container .hero-content .hero-text h1 {
    font-size: 66px;
}

.hero-text h1 {font-size: 60px;}


.hero-text {
    color: var(--colr-white);
}

.hero-text h1 {
    font-size: 55px;
}

.hero-text p {
    font-size: 28px;
    font-weight: 200;
}

.hero-text a {
    font-size: 13px;
    font-weight: 400;
}

.hero-icons {
    font-size: 22px;
}




/* Products */

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 4rem;
    width: 100%;
    max-width: 750px;
}

.product-box {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 750px;
    padding: 30px;
    border-radius: 10px;
}

.product-box img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    z-index: 0;
}

.product-box .product-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-top: 16px;
    width: 50%;
}

.pop-box:hover {
    transform: none;
}




/* Contact */

.contact-container {
    padding: 70px 20px;
    background-color:#fff;
}
.contact-container .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    background-color: transparent;
}


.contact-container .contact-content .contact-box {
    text-align: left;
    width: 100%;
    /* padding: 70px 20px; */
}


.contact-text {
    margin: 5px 0;
}

.contact-box h1, .contact-box p  {
    margin: 10px 0;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 10px 0;
    width: 100%;
    padding: 10px 0;
    
}



/* input[type='submit'] {
    cursor: pointer;
} */



/* About */

.about-container {
    background-color: var(--colr-main);
}

.about-container h2 {
    font-size: 3.5rem;

}

.about-content {
    flex-direction: column;
}

.about-container .about-content .about-text {
    font-size: 24px;
    max-width: 750px;
    width: 100%;
}

.about-container .about-content .about-text p {
    margin-top: 24px;
    max-width: 100%;
}

.about-container .about-content .about-image {
    width: 100%;
}

.about-container .about-content .about-image img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-radius: 4px;
    vertical-align: top;
}




/* pop-ups */

.popup-container {
    padding: 50px 20px;
}

.popup-container h1 {
    font-size: 40px;
    margin: 0;
    padding: 20px;
}

.popup-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    gap: 3rem;
    max-width: 750px;
}

/* footer */

.footer-content {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 30vh;
    max-width: 750px;
}

.footer-boxes {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items:flex-start;
    width: 100%;
}


}





@media screen and (max-width: 768px) {

body {
    line-height: 1.2;
}

/* Mobile Menu */

.mobile-container {
    position: absolute;
    display: flex;
    right: 0;
    top: 100%;
    width: 60%;
    height: 100vh;
    z-index: 9999;
    transform: translateX(110%);
}


.mobile-container.show {
    transform: translate3d(0, 0, 0);
}

.mobile-container .mobile-menu {
    width: 100%;
    margin-inline: auto;
}

.mobile-container .mobile-menu .menu {
    text-align: left;
    padding: 0;
    padding: 1em 0 0 0;
}


.mobile-container .mobile-menu .menu a {
    font-size: 1.5em;
    font-weight: 300;
}
.mobile-container .mobile-menu .menu li {
    margin: 2rem 0;
}


.main-menu .fa-bars {
    display: flex;
    color: var(--colr-white);
    font-size: 24px;
    cursor: pointer;
}

.main-menu .fa-x {
    display: none;
    color: var(--colr-white);
    font-size: 24px;
    cursor: pointer;
}

.nav-wrapper {
    padding: 0 20px;
    width: 100%;
    }

.nav-wrapper .logo img {
    width: 1.5rem;
    height: auto;
    margin: 0;
}

.nav-wrapper .menu-list a {
    display: block;
}


/* Hero Section */



/* .hero-text {
    display: none;
    color: var(--colr-white);
    gap: 0;
} */

.hero-container {
    padding: 0;
}

.hero-container .hero-content {
    padding: 0;

}

.hero-container .hero-content .hero-text h1 {
    font-size: 50px;
    padding: 0 10px;
    margin: 0px 0 0 0;
}

.hero-container .hero-content .hero-text h3 {
    font-size: 20px;
    font-weight: 300;
    padding: 0 20px;
}

.hero-text p {
    font-size: 24px;
    font-weight: 400;
}

.hero-text a {
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 500;
}

/* product */

.product-container {
    flex-direction: column;
}

.product-container h2 {
    font-size: 40px;
}


.product-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* padding: 30px; */
    /* border-radius: 10px; */
    background-color: var(--colr-main);
    overflow: hidden;
}

.product-box img {border-radius:0;width: 100%;height: 300px}



.product-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 70px 0px;
    /* margin: 100px 0; */
    background-color: var(--colr-white);
}

.product-container .product-box {
    padding: 20px;
    border-radius: 0;
}

.product-box .product-list {
    width: 100%;
}

.product-box .product-list h2 {
    font-size: 2rem;
}

.product-box .product-list h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.product-box .product-list p {
    font-size: 1rem;
    font-weight: 400;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 70px 10px;
    margin: 100px 0;
    text-align: center;
    /* background-color: var(--colr-greyish); */
    /* border: 3px solid dodgerblue; */
}

.contact-container .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    padding: 0 20px;
    border-radius: 0;
    /* max-width: 1200px; */
    /* background-color: var(--colr-main); */
}

.contact-container .contact-content .contact-box {padding: 0;}

.contact-container .contact-content .contact-box h2 {
    font-size: 40px;
}

.about-container {
    padding: 70px 20px;
    background-color: var(--colr-main);
}

.about-container h2 {
    font-size: 40px;
}

.about-container h3 {
    font-size: 24px;
}


.about-container .about-content .about-image img {width: 100%;height: 300px;border-radius: 0;}

.about-text {
    font-size: 14px;
    max-width: 100%;
    color: var(--colr-black);
    width: 100%;
    text-align: center;
    
}

.box1 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.popup-slider {
    flex-direction: column;
}

.popup-container {
    height: 100%;
    padding: 70px 20px;
}

.popup-container .pop-content h2 {
    font-size: 50px;
}

.popup-container .pop-content h2::before {
    position: absolute;
    content: "@SugarSwirl";
    font-size: 1.5rem;
    color: var(--colr-black);
    left: 25%;
    bottom: 12%;
    text-align: center;
    border-radius: 10px;
}


.popup-container h1 {
    font-size: 24px;
    margin: 0;
    padding: 20px;
}

.popup-slider {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    max-width: 100%;
}

.pop-box {
    text-align: center;
    width: 100%;
    border-radius: 0;
}


/* Footer Mobile */
.footer-container {
    padding: 50px 20px;
    margin-inline: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 100%;
    height: 100%;
    max-width: 300px;
    margin: 2rem 0;
    margin-inline: auto;
}

.footer-boxes {
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
}

.footer-boxes li, .footer-boxes a, .footer-boxes p {
    font-size: 1.1rem;
}




}

