@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@300;400;700&family=Permanent+Marker&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior:smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
}


li {
    list-style-type: none;
}


/* Mobile Menu */
.mobile-container {
    display: none;
}




/* Header */

.header-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}


.nav-wrapper {
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    max-width: 1600px;
}

.nav-wrapper .logo {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}

.nav-wrapper .logo img {
    width: 30%;
    height: auto;
}

.nav-wrapper .menu-list {
    display: flex;
    gap: 1rem;
    width: 100%;
    white-space: nowrap;
}

.nav-wrapper .main-menu .menu-list a {
    /* opacity: 1; */
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 30px;
    transition: all 0.4s ease;
}

.nav-wrapper .menu-list a:hover {
    color: #000;
    background-color: #fff;
}







/* Hero Section */

.main-menu .fa-bars {
    display: none;
}

.hero-container {
    width: 100%;
    height: 100vh;
}

.hero-container .hero-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    gap: 1rem;
    width: 100%;
    height: 100vh;
}

.hero-container .hero-text span {
    color: #FDE700;
}

.hero-container .hero-text h1 {
    font-family: 'Courgette', cursive;
    font-size: 40px;
    font-weight: 2;
    /* padding: 0 30px; */
}

.hero-container .hero-text h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    /* padding: 0 30px; */
}

.hero-container .hero-text  p {
    font-size: 35px;
    font-weight: 300;
    margin: 0;
}

.hero-container .hero-text a {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 10px;
    padding: 8px 24px;
    border-radius: 30px;
    color: #fff;
    background-color: #00d3d7;
    text-decoration: none;
    outline: none;
}

.hero-container .hero-text a:hover {
    color: #000;
    background-color: #FDE700;
}

.hero-icons {
    font-size: 24px;
}

.hero-icons .fa-brands {
    padding: 0 10px;
}

.hero-icons .fa-brands:hover {
    color: #FDE700;
    cursor: pointer;
}

.hero-container .img {
    background-image: url('/img/Bee.webp');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.hero-container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}






/* Products */

.product-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px 40px;
    margin-inline: auto;
    background-color: #f4f4f4;
}

.box1 {
    display: flex;
    /* background-color: blue; */
}

.box1 h2 {
    font-size: 40px;
    margin-inline: auto;
}

.product-box {
    width: 100%;
    padding: 30px;
    border-radius: 10px;
}

.product-box:nth-last-of-type(odd) {
    color: #fff !important;
    background-color: #00d3d7;
    /* background-color: #4300FC; */
}

.product-box:nth-last-of-type(even) {
    background-color: #fed700;
}

.product-box img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    z-index: 99;
}

.product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* margin: 20px 0; */
    line-height: 1.6;
    /* width: 100%; */
    padding: 8px;

}



.product-box .product-list h2 {
    font-size: 32px;
    /* margin: 20px 0; */
    text-align: center;
    width: 100%;
}


.product-list .product {
    text-align: center;
    padding: 5px;
    margin: 10px 0;
}


/* About Section */

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    /* margin: 100px 0; */
    background-color: #00d3d7;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-image {
    width: 60%;
}


.about-image img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    vertical-align: top;
}

.about-text {
    max-width: 400px;
    color: #fff;
    width: 40%;
    margin: 0 auto;
}

.about-text h2 {
    font-size: 32px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.4;
    margin: 24px 0;
}

.about-container .about-content .about-text .icons {
    text-align: center;
}

.about-container .about-content .about-text .fa-brands {
    font-size: 24px;
    /* margin-top: 16px; */
    margin-right: 16px;
    color: #000;
}


/* Contact Form */
.contact-container {
    padding: 100px 0;
    background-color: gold;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    border-radius: 10px;
}

.contact-box {
    text-align: left;
    width: 700px;
    padding: 0;
}

.contact-text {
    margin: 5px 0;
}

.contact-box h2  {
    font-size: 40px;
    color: #000;
}

.contact-box p {
    margin: 10px 0;
}


.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 10px 0;
    width: 100%;
    padding: 10px 0;
    /* background-color: blue; */
    /* background-color: rgb(172, 58, 58); */
}



.contact input, .contact textarea {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 4px;
    resize: none;
}






/* Pop-up */
.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    padding: 40px;
    color: #000;
    background-color: #f4f4f4;
    overflow: hidden;
}

.popup-container h1 {
    margin: 0;
    padding: 40px 0;
}

.popup-slider {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin: 20px 0;
    width: 100%;
    max-width: 1600px;
}

.pop-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
    border-radius: 10px;
}

.pop-box:nth-last-of-type(odd) {
    background-color: gold;
}

.pop-box:nth-last-of-type(even) {
    background-color: #00d3d7;
}





/* Footer */
.footer-container {
    background-color: #00d3d7;
    padding: 50px 0;
    /* border: 3px solid red; */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #000;
    margin-inline: auto;
    /* gap: 5rem; */
    padding: 0;
    max-width: 1100px;
    /* border: 3px solid #fff; */
}

.footer-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid #033292; */

}

.footer-boxes p {
    margin: 0;
    padding: 0 0 10px 0;
}

.footer-boxes ul {
    margin: 0;
    padding: 0;
}

.box3 {
    display: flex;
    flex-direction: column;
}

.footer-boxes input {
    width: 80%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.footer-boxes input[type="submit"] {
    width: 40%;
}


.footer-boxes a {
    color: #000;
}

.footer-boxes li {
    margin: 10px 0;
}

.footer-icons {
    font-size: 30px;
}

.footer-icons .fa-brands {
    padding: 0 10px;
}




@media screen and (max-width: 1600px) {

    .nav-wrapper {max-width: 1200px;}

    .nav-wrapper .menu-list a {font-size: 18px;}

    .hero-text h1 {font-size: 70px;max-width: 1100px;font-weight: 600;}

    .box1 {gap: 2rem;max-width: 1400px;}
    
}





@media screen and (max-width: 1024px) {

.main-menu .fa-bars {display: none;}

.main-menu .menu-list {display: flex;}



.nav-wrapper {
    padding: 20px 10px;
    max-width: 900px;
}

.nav-wrapper .logo img {
    width: 28%;
    height: auto;
}


.nav-wrapper .menu-list a {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 3px 10px;
    border-radius: 10px;
}


/* Hero Section */

.hero-text h1 {font-size: 60px;}


.hero-text {
    color: #fff;
}

.hero-text h1 {
    font-size: 55px;
}

.hero-text p {
    font-size: 28px;
    font-weight: 200;
}

.hero-text a {
    font-size: 13px;
    font-weight: 400;
}

.hero-icons {
    font-size: 22px;
}

.hero-icons .fa-brands {
    padding: 0 8px;
}




/* Products */

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 4rem;
    width: 100%;
    /* height: 100vh; */
    max-width: 1600px;
    /* border: 4px solid red; */
}

.product-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: #7e7e7e;
    overflow: hidden;
}

.product-box img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    z-index: 99;
}




/* Contact */
.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: gold;
}


.contact-box {
    text-align: left;
    width: 100%;
    padding: 20px;
}

.contact-text {
    margin: 5px 0;
}

.contact-box h1, .contact-box p  {
    margin: 10px 0;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 10px 0;
    width: 100%;
    padding: 10px 0;
    
}



.contact input, .contact textarea {
    font-size: 17px;
    resize: none;
}



/* About */

.about-container {
    background-color: #f4f4f4;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    /* padding: 20px; */
    gap:2rem;
}

.about-image {width: 100%;height: auto;}


.about-image img {width: 100%;height: 500px;}

.about-text {
    font-size: 24px;
    max-width: 100%;
    color: #000;
    width: 100%;
    margin: 0 auto;
}




/* pop-ups */

.popup-container {
    padding: 20px;
}

.popup-container h1 {
    font-size: 40px;
    margin: 0;
    padding: 20px;
}

.popup-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 900px;
}

/* footer */

.footer-content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    max-width: 900px;}

}


@media screen and (max-width: 768px) {

/* Mobile Menu */

.mobile-container {
    position: absolute;
    display: none;
}



.mobile-container .fa-bars {
    right: 0;
    width: 100%;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* height: 100vh; */
    max-height: 100%;
}

.main-menu .fa-bars {
    display: block;
    color: #fff;
    font-size: 24px;
}

.nav-wrapper {
    padding: 30px 20px;
    width: 100%;
    }

.nav-wrapper .logo img {
    width: 59%;
    height: auto;
}

.nav-wrapper .menu-list a {
    display: none;
} */ 


/* Hero Section */

.hero-text {
    color: #fff;
    gap: 0;
}

.hero-text h1 {
    font-size: 38px;
    padding: 0 20px;
    margin: 0px 0 0 0;
}

.hero-text h3 {
    font-size: 24px;
    font-weight: 300;
    padding: 0 20px;
    margin: 0px 0 0 0;
}

.hero-text p {
    font-size: 24px;
    font-weight: 400;
}

.hero-text a {
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 500;
}

/* product */

.product-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px;
    /* border-radius: 10px; */
    background-color: gold;
    overflow: hidden;
}

.product-box img {border-radius:0;}



.product-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 100px 0px;
    /* margin: 100px 0; */
    background-color: #f4f4f4;
}

.product-box {
    padding: 20px;
    border-radius: 0;
}


.contact-box {padding: 0;}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 100px 0;
    text-align: center;
    background-color: #f4f4f4;
    /* border: 3px solid dodgerblue; */
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    border-radius: 0;
    max-width: 1200px;
    background-color: gold;
}


.about-image img {width: 100%;height: 250px;border-radius: 0;}

.about-text {
    font-size: 14px;
    max-width: 100%;
    color: #000;
    width: 100%;
    margin: 0 auto;
}

.about-container {
    padding: 50px 20px;
    background-color: #00d3d7;
}



.box1 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    /* height: 100vh; */
    /* max-width: 1600px; */
    /* border: 4px solid red; */
}


.popup-slider {
    flex-direction: column;
}

.popup-container {
    height: 100%;
    padding: 20px;
}

.popup-container h1 {
    font-size: 24px;
    margin: 0;
    padding: 20px;
}

.popup-slider {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    /* height: 70vh; */
    max-width: 100%;
}

.pop-box {
    text-align: center;
    width: 100%;
    border-radius: 0;
}



.footer-container {
    padding: 50px 20px;
    margin: 0;
    border: 5px solid red;
}

.footer-content {
    color: #000;
    /* gap: 3rem; */
    padding: 0;
    height: 0;
    max-width: 100%;
    /* border: 3px solid rgb(255, 255, 255); */
}

.footer-boxes {
    font-size: 12px;
}

.footer-container p {
    font-size: 12px;
    /* margin-bottom: 50px; */
}




}

